@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.title {
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  background-color: rgb(40, 100, 87);
}
